
.container {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.input1 {
    width: 230px;
    margin: 20px;
}

.input2 {
    width: 150px;
    margin: 20px;
}

.danger {
    color: red;
}