.div {
    /* background-color: blue; */
    
    display: flex;
    justify-content: flex-end;
    margin: 2px;
    padding: 2px;
    height: fit-content;
}

.input {
    width: 150px;
    margin: 3px;
    font-size: 16px;
}

.button {
    background-color: rgb(126, 214, 18);
    margin: 3px;
}

.button:hover {
    background-color: rgb(104, 178, 15);;
}